@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-text {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: 500;
}



body{
	margin:auto;
	width: 600px;;
	align-items: center;
	vertical-align:top;
	background: #E1E1E1;
}

#title{
	font-size: 28px;
	font-weight: bold;
}

#date{
	size:14px; 
	margin-top: 5px;
}

.head{
	margin-top:15px;
}

img{
	display: block; 
	margin:auto;
	height: auto ;
	max-width: 100%;
	padding: 20px 0 0 0;
}

#content{
	text-align: justify;
	margin:auto;
}

p{
	font-size: 14px;
}

code {
    background-color: #c9c7c7;
    padding: 2px 5px;
    border-radius: 3px;
}

pre code {
    display: block;
    background-color: #c9c7c7;
    padding: 15px;
		border-radius: 3px;
		color: black;
}

a:visited {
	color: #000EE
}

a{
	color:blue
}

.laguage-switcher{
	color: blue;
}

.language-switcher:visited{
	color: blue;
}

