@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-text {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: 500;
}

body{
	padding-top: 130px;
	background: #E1E1E1;
	margin:auto; 
	vertical-align: middle;
	width: 820px;

}

.title  > span{
	font-size: 64px;
	font-weight:600; 
	font-weight: 600;
	margin-bottom: 25px;
}

.about{
	margin: 20px 0px;
	font-weight: 500;
}

a:visited{
	color:blue;
}

a{
	color:blue;
}

.entry {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 5px 0 ;
}

.title {

  margin-bottom: 25px;
  white-space: nowrap;
}

.dots {
  flex: 1;
  border-bottom: 3px dashed #999; /* the dotted line */
  margin: 0 8px; /* space between title and date */
}

.date {
  white-space: nowrap;
}

.entry::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 5px;
	background-color: transparent;
}

.entry.no-link::before {
	background-color: #ff6b6b;
}

.entry.no-link.status-1::before {
	background-color: #4caf50;
}


.entry.no-link.status-2::before {
	background-color: #f9a825; 
}

.entry.no-link.status-3::before {
	background-color:#ff3333; 
}

.entry.no-link.status-4::before{
	background-color: blue;
}