@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-text {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
	background: #E1E1E1;
	width: 1251px;
	margin: auto;
	vertical-align:middle;
}

.header-hr{
	min-height: 15px;
	background: #D9D9D9;
	border: 0px;
}

.vertical-bar{
	height:50px; 
	width: 7px;
	background:#7D7D7D;
	padding: 0; 
	margin-bottom: 0px;
}

.first-img{
	border: 0px;
	margin:0px;
	padding: 0px;
}

.main-section{
	margin-top: 130px;
}

.first-col{
	width: 221px;
}

.second-col{
	width: 341px;
	vertical-align:top;
}

.page-description{
	font-size: 14px;
}

.section-head{
	margin-bottom: 9px;
}

.section-title{
	background: #D9D9D9;
	margin: auto;
	text-align: center;
}

.section-head div{
	display:inline-block;
	vertical-align:middle;
}

.section-head h1{
	margin-left:0px;
	padding-left: 0px;
	
}

.section-body{
	display: grid;
	grid-template-columns: 221px 341px 291px 341px;
	align-items:top;
	gap: 21px;

}

.song-container{
	display:flex;
	width: 221px;
	font-size: 14px;
	margin-top: 35px;
}

.second-img{
	margin-right: 12px;
}

.second-img > img{
	height:120px; 
	width:120px;
}

#song{
	color:black;
	text-decoration: none;
}

.text-song-container{
	align-items: center; 
	vertical-align: center;
	margin: auto;
}

.title-song{
	display: flex; 
	flex-direction: column;
}

.artist{
	flex: 1;
	color: #868686;
}

.permlink-date{
	text-decoration: none;
	font-size: 12px;
	float: right; 
	font-weight: 400; 
	color: #868686;
	font-size: 14px;
}

.permlink-title{
	text-decoration: none;
	color: black;
}


.permlink-section{
	margin-top: 10px;
}

.permlink-title:hover{
	padding:4px;
	background:black;
	color:#9c9a9a;
}

.below-img{
	justify-content: center;
	color: #868686;
	font-size: 12px;
	display: flex;
}

.under-cons{
	justify-items:center;
	text-align: center; 
}

.not{
	color: gray;
	text-decoration: none;
}

.nav{
	color: blue;
}

.nav:visited{
	color:blue;
}


