
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="favico.jpg">
		<link rel="stylesheet" href="/styles-movie.css"
		<link rel="icon" href="/favico.ico">
		<title>Movies</title>
	</head>
	<body class="azeret-text">

		<div >
			<span class="title">Movies</span>
		</div>
		<span>8/8/2025</span>

		<p>I started this year to watch movies, here is a list of the ones I've watched so far. Titles highlighted  with <span style="color: #FE9920">this color</span>, are my favorite ones!</p>

		<div class="container-stat">
			<div>
				<div class="section-title">Total Movies Watched</div>
				<span class="stat-title">25</span>
			</div>
			<div>
				<div class="section-title">Most Common Movie Decade</div>				
				<span class="stat-title">25</span>
			</div>
			<div>
				<div class="section-title">Gradient Based on Mood</div>				

			</div>
		</div>

		</div>


		<div class="container">
			<div>
				<div>
					<div>
						<span class="title">Amadeus (Director's Cut) (1984)</span>
						<p>A movie of Antonio salieri, an amazing musician whos life changed after meeting Wolfgang Amadeus Mozart.</p>
					</div>
				</div>
				<hr>
				<div>
					<div>
						<span class="title">La Haine (1995)</span>
						<p>Three friends wander Paris and its outskirts where tension and violence are a constant. </p>
					</div>
				</div>
				<hr>
				<div>
					<div>
						<span class="title">Whiplash (2014)</span>
						<p>A jazz drummer who is obsessed with greatness, it pushes him beyond his physical limits.</p>
					</div>
					<hr>
					<div>
						<span class="title">Eyes Wide Shut (1999)</span>
						<p>After a man meets a </p>

					</div>
				</div>
			</div>

			<div>
				<div>
					<div>
						<span class="title">Trainspotting (1996)</span>
						<p>Mark Renton, a scotish guy who faces the choice between heroin addiction and truly choosing life.</p>
					</div>
				</div>
				<hr>
				<div>
					<div>
						<span class="title">Donnie Darko (Director's cut) (2001)</span>
						<p>After surviving an accident, Donnie begins experiencing hallucinations that lead him to uncover truths of his own reality. </p>
					</div>
					<hr>
				</div>
					<div>
						<span class="title">Good Will Hunting (1997)</span>
						<p>Will discovers his talent on mathematics, he must choose between living his normal life o take advantage of his gift.</p>
					</div>
			</div>

			<div>
				<div>
					<div>
						<span class="title">All about lily chou-chou (2001)</span>
						<p>Teenagers who find an escape and connection through the ethereal music of Lily chou-chou</p>
					</div>
				</div>
				<hr>
				<div>
					<div>
						<span class="title">Blue Spring (2001)</span>
						<p>A group of highschool boys who confront violence and friendship. I would be lying if I said I knew what this movie is about</p>
					</div>
				</div>
				<hr>
				<div>
					<div>
						<span class="title">Fallen Angels (1995)</span>
							<p>We are shown the surreal and dreamy nights of three characters living in the city of Hong Kong. </p>
					</div>
				</div>
				<hr>
				<div>

			</div>
		</div>


		<!----
		{% if paginator %}


		<div>
			{% for post in paginator.pages %}
			<div style="font-family: 'Azeret Mono', serif;">
			
				<div class="entry">
					<a href="{{ post.permalink }}" class="title"> {{ post.title }}</a>
					<span class="dots"></span>
					<span class="date">{{post.date}}</span>
				</div>
			
			</div>
			{% endfor %}
		</div>
		{% endif %}
		-->

		<!--
		{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&lt;</a>
		{% else %}
		&lt;
		{% endif %}
		<span>{{ paginator.current_index }}</span>
		{% if paginator.next %}
		<a href="{{ paginator.next }}">&gt;</a>
		{% else %}
		&gt;
		{% endif %}
		-->
		<div style="margin-top:15px">
			<a href="/"><--</a>
		</div>

	</body>

</html>
