
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="favico.jpg">
		<link rel="stylesheet" href="/styles-movie.css"
		<link rel="icon" href="/favico.ico">
		<title>Movies</title>
	</head>
	<body class="azeret-text">

		<div >
			<span class="title">Movies</span>
		</div>
		<span>8/8/2025</span>
		<p>Earlier this year, I started to have an interest in movies, here is a list of movies I have watched since then. Please recommend good movies through my email. </p>

		</div>

		<h2>Favorites</h2>

		<div class="container">
			
			<div>
				<div class="item">
					<img src="amadeus.jpg">
					<div>
						<span class="title">Amadeus Director's Cut (1984)</span>
						<p>Antonio Salieri, a great musician whos life changes after meeting Mozart. A movie filled with symbolims, amazing acting and dialouges. </p>											
					</div>
				</div>
				<div class="item">
					<img src="wp.jpg">
					<div>
						<span class="title">Whiplash (2014)</span>
						<p>A Jazz drummer who is obsessed with greatness, his passion pushes him beyond his limits. </p>
					</div>

				</div>
			</div>
			
			<div>
				<div class="item">
					<img src="FA.jpg">
					<div>
						<span class="title">Fallen Angels (1995)</span>
						<p>We are shown the nights of three main characters in the city of Hong Kong with dreamlike visuals.  </p>
					</div>
				</div>
				<div class="item">
					<img src="haine.jpg" width="300px">
					<div>
						<span class="title">La Haine (1995)</span>
						<p>After witnessing their friend getting injured by a police, we see 24 hours in the lives of three friends in the violent suburbs of Paris. </p>
					</div>
				</div>
			</div>

			<div>
				<div class="item">
					<img src="lcc.jpg">
					<div>
						<span class="title">All about lilly chou-chou (2001)</span>
						<p>A group of teenager who feel conected through lilly's music. A movie with memorable OST and amazing visuals. </p>
					</div>					
				</div>
				<div class="item">
					<img src="ss.jpeg">
					<div>
						<span class="title">Kaili Blues (2016)</span>
						<p>A story of a knight who challenges death in a chess match, where each character have their own view  and doubts about their own reality.</p>
					</div>					
				</div>
			</div>
		</div>
		
		<h2>Other</h2>
		
		<div class="container-other">
			<div>
				<div class="section-title">
					<span>Next Best</span>
				</div>

				<div>
					Good Will Hunting
				</div>

				<div>
					<span >The Good, The Bad, and the Ugly (1966)</span>
				</div>

				<div>
					<span>Trainspotting (1996)</span>
				</div>

				<div>
					<span>Donnie Darko (2001)</span>
				</div>

				<div>
					<span >Fight Club (1999)</span>					
				</div>

			</div>
	
			<div>
				<div class="section-title">
					<span>Other</span>
				</div>

				<div>
					<span >Fast and Furious: Tokyo Drift (2006)</span>					
				</div>

				<div>
					<span >Me Before You (2016)</span>
				</div>

				<div>
					<span >Inception</span>
				</div>

				<div>
					<span>Se7en (1995)</span>
				</div>

				<div>
					<span >Blue Spring (2002)</span>					
				</div>

				<div>
					<span> Kill Bill Vol 1</span>
				</div>

				<div>
					<span>Eyes Wide Shut (1999)</span>
				</div>
			</div>
		</div>

		<!----
		{% if paginator %}


		<div>
			{% for post in paginator.pages %}
			<div style="font-family: 'Azeret Mono', serif;">
			
				<div class="entry">
					<a href="{{ post.permalink }}" class="title"> {{ post.title }}</a>
					<span class="dots"></span>
					<span class="date">{{post.date}}</span>
				</div>
			
			</div>
			{% endfor %}
		</div>
		{% endif %}
		-->

		<!--
		{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&lt;</a>
		{% else %}
		&lt;
		{% endif %}
		<span>{{ paginator.current_index }}</span>
		{% if paginator.next %}
		<a href="{{ paginator.next }}">&gt;</a>
		{% else %}
		&gt;
		{% endif %}
		-->
		<div style="margin-top:15px">
			<a href="/"><--</a>
		</div>

	</body>

</html>
