{% extends "base.html" %}
{% block content %}
	<body class="azeret-text">
		<section class="main-section">

			<hr class="header-hr"></hr>
			<div class="section-head" >
				<div>
					<div class="vertical-bar"></div>
				</div> <div>
					<a class="page-description nav" href="blog">[Blogs]</a>
					<span> \\ </span>
					<a class="page-description nav" href="trips">[Trips]</a>
					<span> \\ </span> 
					<a class="page-description not" href="">[Record Collection]</a>
					<span> \\ </span> 
					<a class="page-description nav" href="movies">[Movies]</a>
				</div>

			</div>

			<div class="section-body">
				<div class="first-col">
					<div>
						<img class="first-img" src="main-img.png" width="220" height="383" />
						<div style="color: #868686; font-size: 12px; text-justify: inter-word; text-align: center; margin-top: 5px;">
							<span >Climber</span>
						</div>
					</div>

					<a target="_blank" href="https://youtu.be/2QaoONrgHIQ?si=_T_WnBGyn1Om3Zl5" id="song"> 
					<div class="song-container">
						
						<div class="second-img" >
							<img src="song.png" />
						</div>
						<div class="text-song-container">
								<span class="title-song">Teenage Symphonies 4 God (God Will Only)</span>
								<span class="artist">Yung Lean</span>
						</div>

					</div>

					</a>
				</div>
				<div class="second-col">
					<section style="min-height: 184px;">
						<div>
							<div class="section-title">
								<span> [ Updates ]</span>
							</div>
						<div>
							<div>
								<p style="justify: left; font-weight: 600; font-size:14px"> Improved navigation
								<span style="float: right; font-weight: 400; color: #868686">10 June 2025</span>
								</p>
							</div>
							<div>
								<span style="color: #868686; font-size: 12px">It was terrible<span>

							</div>
						</div>
							<div>
								<p style="justify: left; font-weight: 600; font-size:14px"> New Page Design 
								<span style="float: right; font-weight: 400; color: #868686">30 Jan 2024</span>
								</p>
							</div>
							<div>
								<span style="color: #868686; font-size: 12px">People did not like the previous one<span>

							</div>
						</div>
						<div>
							<div>
								<p style="justify: left; font-weight: 600; font-size:14px"> Blogs Section 
								<span style="float: right; font-weight: 400; color: #868686">30 Jan 2024</span>
								</p>
							</div>
							<div>
								<span style="color: #868686; font-size: 12px">Replaced recipies for blogs<span>

							</div>
						</div>
					</section>

					<hr style="background: #9B9B9B; margin: 19px 0 15px 0;">
					<section>
						<div class="section-title">
							<span> [Blogs]</span>
						</div>
						<div>
							{% set blog_section = get_section(path="blog/_index.md") %}
							{% for year, posts in blog_section.pages | group_by(attribute="year") %}
							{% for post in posts %}
							<div class="permlink-section">
								<a class="permlink-title" href="{{post.permalink}}"">{{ post.title}}</a>
								<span class="permlink-date" >
									[{{ post.date}}]
								</span>
							</div>
							{% endfor %}


							{% endfor %}
						</div>

						<hr style="margin: 5px 0 5px 0;"/>

				</section>
					<section style="margin-top: 10px;">
							<img src="nature.png" width="339" heigh="208">
					</section>
				</div>
				<div>
					<div class="section-title">
						<span> [ Favorite Websites ]</span>
					</div>

					<div>
						<p style="justify: left; font-weight: 600; font-size:14px"> Jstris
						<span style="float: right; font-weight: 400; color: #868686">Tetris PVP</span>
						</p>
					</div>
					<div>
						<p style="justify: left; font-weight: 600; font-size:14px"> Pinterest 
						<span style="float: right; font-weight: 400; color: #868686">Cool images</span>
						</p>
					</div>
					<div>
						<p style="justify: left; font-weight: 600; font-size:14px"> Globle
						<span style="float: right; font-weight: 400; color: #868686">Guess the country</span>
						</p>
					</div>
					<hr>

				<div class="under-cons" style="margin-top: 10px; margin-bottom: 15px;;">
					<img src="uc.jpg" style="width: 70%;" height="auto">
						<div style="color: #868686; font-size: 12px; text-justify: inter-word; text-align: center; margin-top: 5px;">
							<span>Cool pages I found on Death Note</span>
						</div>

				</div>
					<div>
						<div class="section-title">
							<span> [Last Movies Watched]</span>
						</div>
						<div>
							<p style="font-weight: 600; font-size: 14px">
							<span style="float: right; font-weight: 600; ">
						Fallen Angels	
							</span>
							<span style="color: #868686">[Wong Kar-Wai]</span> 	
							</p>
						</div>
						<div>
							<p style="font-weight: 600; font-size: 14px">
							<span style="float: right; font-weight: 600; ">
								Good Will Hunting
							</span>
							<span style="color: #868686">[Gus Van]</span> 	
							</p>
						</div>
						<div>
							<p style="font-weight: 600; font-size: 14px">
							<span style="float: right; font-weight: 600; ">
								La haine	
							</span>
							<span style="color: #868686">[Mathieu Kassovitz]</span> 	
							</p>
						</div>
						<div>
							<p style="font-weight: 600; font-size: 14px">
							<span style="float: right; font-weight: 600; ">
								Se7en
							</span>
							<span style="color: #868686">[David Fincher]</span> 	
							</p>
						</div>
					</div>
				</div>
				<div>
					<div class="section-title">
						<span> [Trips]</span>
					</div>

						<div>
							{% set trips_section = get_section(path="trips/_index.md") %}
							{% for year, posts in trips_section.pages | group_by(attribute="year") %}
							{% for post in posts %}
							<div class="permlink-section">
								<a class="permlink-title" href="{{post.permalink}}"">{{ post.title}}</a>
								<span class="permlink-date" >
									[{{ post.date}}]
								</span>
							</div>
							{% endfor %}


							{% endfor %}
						</div>

					<hr>

					<div class="section-title">
							<span> [About]</span>
						</div>
						<p style="  text-align: justify; text-justify: inter-word;">
						I am nezi, this page was made to share a bit of my 
						life over the years. 
						</p>
						

						<p>
						You can contact me via Discord or email for anything.
						</p>

						<p>
						<strong>Discord:</strong> x234xewr4
						</p>

						<p>
						<strong>Email</strong> nezi@nezi.xyz
						</p>
						
						<p>
							Big love
						</p>
						
						<hr style="margin: 10px 0 10px 0">

						<div>
							<iframe width="340" height="190" src="https://www.youtube.com/embed/MX1VQFv3Z8g?si=SeZSOdBADsMXEOcy"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						
							<div style="color: #868686; font-size: 12px; text-justify: inter-word; text-align: center; margin-top: 5px;">
								<span>Very cool video</span>
							</div>
						</div>


						</div>
					</div>


				
				</div>

			</div>

		</section>
	</body>
</html>
{% endblock content %}
