{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<title> {{ page.title }}</title>
		<link rel="stylesheet" href="/single-page.css"/>
		<link rel="icon" href="/favico.ico">
		<meta charset="UTF-8">
	</head>
	<body class="azeret-text ">
		<div class="head">
			<div>
				<span id="title" >{{ page.title }}</span>
			</div>
			<div>
				<span id="date">{{ page.date }} </span>
			</div>
			<div>
				{% if page.translations | length > 0 %}
				<nav id="language-switcher">
					{% for t in page.translations %}
					<a href="{{ t.permalink }}">{{ t.lang | upper }}</a>
					{% endfor %}
				</nav>
				{% endif %}
			</div>
		</div>
		<div id="content">
			{{ page.content | safe }}
		</div>

		<div style="margin-top:15px; margin-bottom: 20px;">
			<a href="/trips"><--</a>
		</div>
		{% endblock content %}
		</div>
	</body>
</html