
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="favico.jpg">
		<link rel="stylesheet" href="/styles-page.css"/>
		<link rel="icon" href="/favico.ico">
		<title>Trips</title>
	</head>
	<body class="azeret-text">

		<div class="title">
			<span>Trips</span>
		</div>
		{% if paginator %}

		<div>
			{% for post in paginator.pages %}
			<div class="entry">
				<a href="{{ post.permalink }}"> <span class="title-movie">{{ post.title }} </span></a>
				<span class="dots"></span>
				<span class="date">{{ post.date }}</span>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<!--
		{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&lt;</a>
		{% else %}
		&lt;
		{% endif %}
		<span>{{ paginator.current_index }}</span>
		{% if paginator.next %}
		<a href="{{ paginator.next }}">&gt;</a>
		{% else %}
		&gt;
		{% endif %}
		-->
		<div style="margin-top:15px">
			<a href="/"><--</a>
		</div>

	</body>

</html>
